html
{
  font-family: helvetica;
  text-align: center;
}

h1
{
  font-weight: bold;
  color: white;
  font-size: 70px;
}

h2
{
  font-size: 32px;
  font-weight: bold;
}

h3
{
  font-size: 23px;
  font-weight: bold;
}

h4
{
  font-size: 18px;
}

p
{
  font-size: 18px;
}

#footer
{
  font-size: 11px;
  text-align: left;
  color: white;
  background-color: dimgray;s

}

.backphoto
{
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  background-size: cover;
  background-position: center;
  color: white;
}

nav
{
  line-height: 1;
}

#color
{
  color: white;
}
